<%= select "Disciplina", "Disciplina", @disciplinas.each_with_index.map {|name, index| [name,index]}, class:'form-control '  %>

<%= form_tag(list_path, method: "put") do %>
  <%= label_tag(:q, "Inserir ISBN do livro:") %>
  <%= text_field_tag(:isbn) %>
  <%= submit_tag("Adicionar") %>
<% end %>

<div class="container">
  <div class="col-lg-6">
<div class="form-log-in-with-email">
 <div class="form-white-background">
    <%= form_tag(list_path, method: "put") do %>
      <div class="form-title-row">
          <h5>Inserir ISBN do Livro</h5>
      </div>
      <div class="form-row text-center centered">
      <label>
          <span><%= text_field_tag(:isbn) %></span>
          <!--<input type="email" name="email">-->
      </label>
      </div>
      <div class="form-row">
        <%= submit_tag("Adicionar", class:"btn btn-secondary centered") %>
      </div>
    <% end %>
  </div>
</div>

  </div>
</div>