<div class="col-lg-12">
    <div class="container">
        <div class="col-lg-2"><p></p></div>
         <div class="form-log-in-with-email col-lg-8">
            <div class="form-white-background text-center">
                <%= form_tag(list_path, method: "put") do %>
                    <div class="form-title-row">
                        <h1>Adicionar obra</h1>
                    </div>
                    
                    <div class="form-row">
                        <label>
                            <span>Categoria</span>
                            <%= select(:livro, :categoria, ['Didático', 'Paradidático'], {:prompt => "Escolha categoria"}, { :class => "form-input"}) %>
                        </label>
                    </div>
                  
                    <div class="form-row">
                        <label>
                            <span>Disciplina</span>
                            <%= select(:livro, :disciplina, grouped_options_for_select(@mapCategoria_Disciplina), {}, { :class => "form-input"}) %>
                        </label>
                    </div>
                    
                    <div class="form-row">
                        <label>
                            <span>Coleção</span>
                            <%= select(:livro, :colecao, grouped_options_for_select(@mapCategoriaDisciplinas_Colecoes), {}, class:  'form-input')%>
                        </label>
                    </div>
                    
                    <div class="form-row">
                        <label>
                            <span>Obra</span>
                            <%= select(:livro, :obra, grouped_options_for_select(@mapCategoriaDisciplinasColecoes_Obras), {},class:  'form-input')%>
                        </label>
                    </div>
                    
                  <br><br>
                
                <div class="form_group row">
                    <%=submit_tag("Adicionar", class:"btn btn-danger") %>
                </div>
            
                <% end %>
                </div>
            </div>
            <div class="col-lg-2"><p></p></div>
        </div>
</div>







