<% if @list.errors.any? %>
    <ul>
        <% @list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="col-lg-12">
    <div class="container">
        <div class="col-lg-2"><p></p></div>
         <div class="form-log-in-with-email col-lg-8">
            <div class="form-white-background text-center">
                <%= form_for @list do |f| %>
                    <div class="form-title-row">
                        <h1>Nova Lista</h1>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Segmento</span>
                            <%= f.select(:segmento, ['Educação Infantil','Ensino Fundamental 1', 'Ensino Fundamental 2', 'Ensino Médio'], {}, { :class => "form-input" }) %>
                        </label>
                    </div>
                    
                    <div class="form-row">
                        <label>
                            <span>Série</span>
                            <%= f.text_field :serie, class:'form-input'  %>
                            <!--<input type="email" name="email">-->
                        </label>
                    </div>
                    
                    <%# hidden_field_tag "livro[list_id]", "#{@list.id}" %>
                    <%= hidden_field_tag "list[escola_id]", "#{@escola.id}" %>
                    
                    <div class="form-row">
                        <%= button_to 'Criar lista', escola_lists_path(escola_id: @escola.id), :method => :post, :class =>' btn btn-danger', :type => 'submit'   %>
                    </div>
                
                <% end %>
                </div>
            </div>
            <div class="col-lg-2"><p></p></div>
        </div>
</div>
