  <div class="box">
    <br><br>
      <h1><%= "#{@list.escola.nome.split.map(&:capitalize)*' '}"%></h1>
      <br>
      <h4><%= "#{@list.escola.endereco}" + " - " + "#{@list.escola.municipio}" + "/" "#{@list.escola.uf}" %></h4>
      <h4>
        <%="Tel.: " + "#{@list.escola.telefone1}" %>
        <% if @list.escola.telefone2.present? %>
          <%= "/" + "#{@list.escola.telefone2}" %>
        <% end %>
      </h4>
      <% if @list.escola.site.present? %>
        <h4><%="Site: " + "#{@list.escola.site}" %></h4>
      <% end %>
      <br><br>
      <h3><%= "Lista de Livros - " + "#{@list.serie}" %></h3><br>
  </div>

  <div class="container ">
    <div class="row row-centered">
      <div class="col-md-10 col-md-offset-4">
        <% if @categorias.include?('Didático') %> 
          <h4>Livros Didáticos</h4>
          <table class="text-center">
            <thead>
              <tr>
                <th colspan="1">Disciplina</th>
                <th colspan="3">Título/Autor/Editora</th>
              </tr>
            </thead>
            <% @list.livros.each do |f| %>
              <% if f.categoria == 'Didático' %>
                <tbody>
                      <tr>
                          <td class="top_row"></td>
                          <td class="top_row"><bold><%= "#{f.obra}".split.map(&:capitalize)*' ' %></bold></td>
                          <td class="top_row"></td>
                      </tr>
                      <tr>
                          <td class="middle_row_center"><%= "#{f.disciplina}".split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row"><%= "#{f.autor}".sub('"', '').split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row"></td>
                      </tr>
                      <tr>
                          <td class="bottom_row"></td>
                          <td class="bottom_row"><%= "#{f.volume_serie}" + ", " + "#{f.edicao}" + "ª edição"+ ", " + "#{f.selo}".capitalize   %></td>
                          <td class="bottom_row"></td>
                      </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        <% end %>
        
         <% if @categorias.include?('Paradidático') %> 
          <h4>Livros Paradidáticos</h4>
          <table class="text-center">
            <thead>
              <tr>
                <th colspan="1">Disciplina</th>
                <th colspan="3">Título/Autor/Editora</th>
              </tr>
            </thead>
            <% @list.livros.each do |f| %>
              <% if f.categoria == 'Paradidático' %>
                <tbody>
                      <tr>
                          <td class="top_row"></td>
                          <td class="top_row"><bold><%= "#{f.obra}".split.map(&:capitalize)*' ' %></bold></td>
                          <td class="top_row"></td>
                      </tr>
                      <tr>
                          <td class="middle_row_center"><%= "#{f.disciplina}".split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row"><%= "#{f.autor}".sub('"', '').split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row"></td>
                      </tr>
                      <tr>
                          <td class="bottom_row"></td>
                          <td class="bottom_row"><%= "#{f.edicao}" + "ª edição"+ ", " + "#{f.selo}".capitalize   %></td>
                          <td class="bottom_row"></td>
                      </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        <% end %>
        
      </div>
    </div>
  </div>