<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css.scss">
</head>

<body>
  <div class="jumbotron">
      <div class="container">
        <h1>Lista de livros</h1>
        <h3><%= "#{@list.serie}" + " - "  + "#{@list.segmento}"%></h3>
        <h5><%= link_to "#{@list.escola.nome}", escola_path(@escola)%></h5>
      </div>
  </div>
  
  <div class="container ">
    <div class="row row-centered">
      <div class="col-md-10 col-md-offset-1">
        <% if @categorias.include?('Didático') %> 
          <h1>Livros Didáticos</h1>
          <table class="text-center">
            <thead>
              <tr>
                <th colspan="1">Disciplina</th>
                <th colspan="3">Título/Autor/Editora</th>
              </tr>
            </thead>
            <% @list.livros.each do |f| %>
              <% if f.categoria == 'Didático' %>
                <tbody>
                  <tr>
                          <td class="top_row"></td>
                          <td class="top_row"><bold><%= "#{f.obra}".split.map(&:capitalize)*' ' %></bold></td>
                          <td class="top_row"></td>
                      </tr>
                      <tr>
                          <td class="middle_row_center"><%= "#{f.disciplina}".split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row"><%= "#{f.autor}".sub('"', '').split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row">
                            <%= link_to "editar", edit_escola_list_livro_path(@escola, @list, f) %>
                            <%= link_to "deletar", delete_livro_from_list_path(escola_id: @escola, list_id: @list, livro_id: f.id) %>   
                            <i class="material-icons button delete"></i>
                          </td>
                      </tr>
                      <tr>
                          <td class="bottom_row"></td>
                          <td class="bottom_row"><%= "#{f.volume_serie}" + ", " + "#{f.edicao}" + "ª edição"+ ", " + "#{f.selo}".capitalize   %></td>
                          <td class="bottom_row"></td>
                      </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        <% end %>
          
        <% if @categorias.include?('Paradidático') %> 
          <h1>Livros Paradidáticos</h1>
          <table class="text-center">
            <thead>
              <tr>
                <th colspan="1">Disciplina</th>
                <th colspan="3">Título/Autor/Editora</th>
              </tr>
            </thead>
            <% @list.livros.each do |f| %>
              <% if f.categoria == 'Paradidático' %>
                <tbody>
                  <tr>
                          <td class="top_row"></td>
                          <td class="top_row"><bold><%= "#{f.obra}" %></bold></td>
                          <td class="top_row"></td>
                      </tr>
                      <tr>
                          <td class="middle_row_center"><%= "#{f.disciplina}" %></td>
                          <td class="middle_row"><%= "#{f.autor}".split.map(&:capitalize)*' ' %></td>
                          <td class="middle_row">
                            <%= link_to "editar", edit_escola_list_livro_path(@escola, @list, f) %>
                            <%= link_to "deletar", delete_livro_from_list_path(escola_id: @escola, list_id: @list, livro_id: f.id) %>   
                            <i class="material-icons button delete"></i>
                          </td>
                      </tr>
                      <tr>
                          <td class="bottom_row"></td>
                          <td class="bottom_row"><%= "#{f.edicao}" + "ª edição"+ ", " + "#{f.selo}".capitalize   %></td>
                          <td class="bottom_row"></td>
                      </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </div>
          
        <div class="form-group"> 
          <%= button_to 'Adicionar obra da Somos', edit_list_path, method: :get, class: ' btn btn-danger' %>
        </div>
        <div class="form-group"> 
          <%= button_to 'Adicionar outras obras', new_escola_list_livro_path(escola_id: @list.escola, list_id: @list), method: :get, class: ' btn btn-danger' %>
        </div>
        <div class="form-group">
          <%= button_to 'Exportar lista', escola_list_path(escola_id: @list.escola, list_id: @list, :format => :pdf), method: :get, class: ' btn btn-danger' %>
        </div>
    </div>
  </div>
</body>
