<% if @escola.errors.any? %>
    <ul>
        <% @escola.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

 <div class="form-log-in-with-email">

        <div class="form-white-background">
            <%= form_for @escola do |f| %>
                <div class="form-title-row">
                    <h1>Informações da Escola</h1>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Nome</span>
                        <%= f.text_field :nome, class:"form-input" %>
                    </label>
                </div>
            
                <div class="form-row">
                    <label>
                        <span>Endereço</span>
                        <%= f.text_field :endereco, class:"form-input" %>
                    </label>
                </div>

                <div class="form-row">
                    <label>
                        <span>Bairro</span>
                        <%= f.text_field :bairro, class:"form-input" %>
                    </label>
                </div>
    
                <div class="form-row">
                    <label>
                        <span>Telefone 1</span>
                        <%= f.text_field :telefone1, class:"form-input" %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Telefone 2</span>
                        <%= f.text_field :telefone2, class:"form-input" %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Site</span>
                        <%= f.text_field :site, class:"form-input" %>
                    </label>
                </div>
    
                <div class="form-row">
                    <button type="submit" class="btn btn-danger">Confirmar dados</button>
                </div>
            <% end %>


        </div>

    </div>
