<% if @escola.errors.any? %>
    <ul>
        <% @escola.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="col-lg-12">
    <div class="container">
        <div class="col-lg-2"><p></p></div>
        <div class="form-log-in-with-email col-lg-8">
            <div class="form-white-background">
                <%= form_for @escola do |f| %>
                
                <div class="form-title-row">
                    <h1>Informações da Escola</h1>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Nome*</span>
                        <%= f.text_field :nome, class:'form-input', placeholder: "Ex.: Colégio Reviver"  %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Endereço*</span>
                        <%= f.text_field :endereco, class:'form-input',  placeholder: "Ex: Rua das Acácias, 26"   %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Bairro*</span>
                        <%= f.text_field :bairro, class:'form-input',  placeholder: "Ex.: Jardim Novo"   %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Município*</span>
                        <%= f.text_field :municipio, class:'form-input',  placeholder: "Ex.: New City"   %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>UF*</span>
                        <%= f.text_field :uf, class:'form-input',  placeholder: "Ex.: NC"%>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Telefone 1*</span>
                        <%= f.text_field :telefone1, class:'form-input',  placeholder: "Ex.: (12) 34441111"   %>
                    </label>
                </div>
    
                <div class="form-row">
                    <label>
                        <span>Telefone 2</span>
                        <%= f.text_field :telefone2, class:'form-input', placeholder: "ex.: (12) 35578910"  %>
                    </label>
                </div>
                
                <div class="form-row">
                    <label>
                        <span>Site</span>
                        <%= f.text_field :site, class:'form-input', placeholder: "Ex.: www.colegioreviver.com.br"  %>
                    </label>
                </div>
                
                <div class="form-row">
                    <h5 class="pull-left">(*) campos obrigatórios</h5>
                </div>
                <br>
                
                <%= hidden_field_tag "escola[mec]", "#{@mec}" %>

    
                <div class="form-row">
                    <button type="submit" class="btn btn-danger">Confirmar dados</button>
                </div>
                <% end %>
          </div>
        </div>
        <div class="col-lg-2"><p></p></div>
    </div>
</div>

    